{{#if resume.certificates.length}}
  <section class="section">
    <header>
      <h2 class="section-title">Certifications</h2>
    </header>
    <section id="certificates">
      {{#each resume.certificates}}
        <section class="certificate-item">
          <header class="clear">
            {{#if date}}
              <div class="date">
                {{date}}
              </div>
            {{/if}}
            <div class="header-left">
              {{#if name}}
                {{#if url}}
                  <span class="url">
                    <a target="_blank" href="{{url}}">
                      <div class="certificateName">
                        {{name}}
                      </div>
                    </a>
                  </span>
                {{else}}
                  <div class="certificateName">
                    {{name}}
                  </div>
                {{/if}}
              {{/if}}
              {{#if issuer}}
                <div class="issuer">
                  {{issuer}}
                </div>
              {{/if}}
            </div>
          </header>
        </section>
      {{/each}}
    </section>
  </section>
{{/if}}
